<!--
title: Template: Tactic
description: 
published: true
date: 2020-06-18T09:53:00.105Z
tags: 
editor: ckeditor
-->

<p><strong>Intro: summary of tactic.</strong> What does it entail? Who uses it?</p>
<p><strong>Description: the ins and outs of this tactic.</strong> When is it useful? What are the downsides/risks?</p>
<h1>How to organise</h1>
<p>Add some concrete tips on how to bring this particular tactic into practice:</p>
<ol>
  <li>What needs to be done in preparation of this particular action?</li>
  <li>Do you need a lot of people for this action? Reference to our chapter on how to <a href="/mobilise">mobilise people</a>.</li>
  <li>Do you want media attention? Reference to our chapter on <a href="/communication">communication</a>.</li>
  <li>What needs to be done during the action? Do you need people during the action to make sure everyone feels safe? Reference to our chapter on <a href="/wellbeing">wellbeing</a>.</li>
  <li>Do you need funding to organise your action? Reference to our chapter on <a href="/funding">funding</a>.</li>
</ol>
<h1>Examples</h1>
<h2>First example</h2>
<p>Description of how this tactic was used in one particular case. If the action was covered by news media, make sure to add some links to those articles. Also do not hesitate to add a picture.</p>
<h2>Second example</h2>
<p>The same goes for other examples...</p>
<h1>Related tactics</h1>
<ul>
  <li>A list of related tactics</li>
</ul>
<h1>Resources</h1>
<ul>
  <li><a href="#">A useful resource</a> by Someone (2020) | <a href="#">Archived</a></li>
</ul>
