<!--
title: Template: Tactic
description: 
published: true
date: 2020-03-21T21:57:01.381Z
tags: 
-->

<p><strong>Intro: summary of tactic.</strong> What does it entail? Who uses it?</p><p><strong>Description: the ins and outs of this tactic.</strong> When is it useful? What are the downsides/risks?</p><h1>How to organise</h1><p>Add some concrete tips on how to bring this particular tactic into practice.</p><h1>Examples</h1><h2>First example</h2><p>Description of how this tactic was used in one particular case. If the action was covered by news media, make sure to add some links to those articles. Also do not hesitate to add a picture.</p><h2>Second example</h2><p>The same goes for other examples...</p><h1>Resources</h1><ul><li><a href="#">A useful resource</a> by Someone (2020)</li></ul><h1>Related tactics</h1><ul><li>A list of related tactics</li></ul>